---
import IconButton from "../ui/IconButton.astro";
import TechCarrusel from "../ui/TechCarrusel.astro";
import { getLenguageObject } from "../../utils/LenguageText";

const textItems = getLenguageObject()?.home;
const technologies = [
  { icon: "icon-[devicon--html5]", label: "HTML5" },
  { icon: "icon-[devicon--css3]", label: "CSS3" },
  { icon: "icon-[devicon--astro]", label: "Astro" },
  { icon: "icon-[devicon--react]", label: "React" },
  { icon: "icon-[devicon--angular]", label: "Angular" },
  { icon: "icon-[devicon--ionic]", label: "Ionic" },
  { icon: "icon-[devicon--flutter]", label: "Flutter" },
  { icon: "icon-[devicon--tailwindcss]", label: "Tailwind CSS" },
  { icon: "icon-[devicon--bootstrap]", label: "Bootstrap" },
  { icon: "icon-[devicon--csharp]", label: "C#" },
  { icon: "icon-[devicon--java]", label: "Java" },
  { icon: "icon-[devicon--javascript]", label: "JavaScript" },
  { icon: "icon-[devicon--typescript]", label: "TypeScript" },
  { icon: "icon-[devicon--dotnetcore]", label: ".NET" },
  { icon: "icon-[devicon--visualstudio]", label: "Visual Studio" },
  { icon: "icon-[devicon--vscode]", label: "VSCode" },
  { icon: "icon-[devicon--nodejs]", label: "Node.js" },
  { icon: "icon-[devicon--express]", label: "Express" },
  { icon: "icon-[devicon--prisma]", label: "Prisma" },
  { icon: "icon-[devicon--swagger]", label: "Swagger" },
  { icon: "icon-[devicon--php]", label: "PHP" },
  { icon: "icon-[devicon--mysql]", label: "MySQL Server" },
  { icon: "icon-[devicon--microsoftsqlserver]", label: "Microsoft SQL Server" },
  { icon: "icon-[devicon--sqlite]", label: "SQLite" },
  { icon: "icon-[devicon--mongodb]", label: "MongoDB" },
];
---

<div>
  <div class="text-left font-light space-y-4">
    <h4 class="text-3xl text-purpura-suave my-2">{textItems?.h4}</h4>
    <div
      class="flex flex-col lg:flex-row lg:items-center space-y-4 lg:space-y-0 lg:space-x-8 md:gap-4"
    >
      <h1 class="text-7xl leading-16 text-texto-claro-principal">
        {textItems?.h1}
      </h1>
      <p
        class="text-2xl mt-6 w-[90%] text-texto-principal-suave leading-7 place-self-end"
      >
        {textItems?.p}
      </p>
    </div>
    <div class="flex justify-start gap-2 pt-3 md:pt-6">
      <IconButton
        href="mailto:ev402648@gmail.com"
        label="Email"
        ariaLabel="Send email"
      >
        <i class="icon-[lucide--mail] w-10 h-10"></i>
      </IconButton>

      <IconButton
        href="https://www.linkedin.com/in/ernesto224/"
        label="LinkedIn"
        ariaLabel="Open LinkedIn"
      >
        <i class="icon-[lucide--linkedin] w-10 h-10"></i>
      </IconButton>

      <IconButton
        href="https://github.com/Ernesto224"
        label="GitHub"
        ariaLabel="Open GitHub"
      >
        <i class="icon-[lucide--github] w-10 h-10"></i>
      </IconButton>

      <IconButton
        href="../../../public/CV_Ernesto_Vega_Rodriguez.pdf"
        label="GitHub"
        ariaLabel="Open GitHub"
      >
        <i class="icon-[pepicons-pencil--cv] w-10 h-10"></i>
      </IconButton>
    </div>
  </div>
  <div class="relative overflow-hidden h-full py-8">
    <TechCarrusel technologies={technologies} reverse={true} delay={16} />
  </div>
</div>
