---
import CardButtom from "./CardButtom.astro";
import type { CardProjectProps } from "../../types/types";

const {
  title,
  state = "State",
  imageSrc = "/public/image-placeholder.jpg",
  gitHref = "https://github.com/Ernesto224",
  deployHref,
} = Astro.props as CardProjectProps;
---

<article
  class="w-full rounded-lg bg-fondo-primario-tarjeta overflow-hidden shadow-sm"
>
  <div class="w-full h-60 relative flex justify-center px-4 pt-4">
    <img
      src={imageSrc}
      alt={title}
      class="rounded-lg object-cover w-full h-full hvr-float"
    />
  </div>
  <div class="p-4 flex items-center justify-between">
    <div>
      <h4 class="lg:text-2xl text-md font-light text-purpura-suave">{title}</h4>

      <p class="text-texto-principal-suave text-sm">{state}</p>
    </div>
    <div class="flex gap-2">
      <CardButtom href={gitHref} label="Code" ariaLabel="Open GitHub">
        <i class="icon-[fa--code] w-10 h-8"></i>
      </CardButtom>

      {
        deployHref && (
          <CardButtom
            href={deployHref}
            label="Deployed"
            ariaLabel="Open Project"
          >
            <i class="icon-[streamline-plump--web] w-10 h-8" />
          </CardButtom>
        )
      }
    </div>
  </div>
</article>
